.ctAppRoot .chartingDashboardWidget .vue-base {
    height: 100%
}

.ctAppRoot .chartingDashboardWidget .overflowAuto {
    overflow: auto;
}

.ctAppRoot .chartingDashboardWidget .c3-tooltip .name {
    color: black;
}

.ctAppRoot .chartingDashboardWidget .c3-tooltip .value {
    color: black;
}

.ctAppRoot .chartingDashboardWidget .c3 .c3-axis-x path, .chartingDashboardWidget .c3 .c3-axis-x line {
    stroke: white;
}

.ctAppRoot .chartingDashboardWidget .c3 .c3-axis-y path, .chartingDashboardWidget .c3 .c3-axis-y line {
    stroke: white;
}

.ctAppRoot .chartingDashboardWidget .c3 .c3-axis-y text, .chartingDashboardWidget .c3 .c3-axis-x text {
    fill: white;
}

.ctAppRoot .chartingDashboardWidget .c3 .c3-legend-item text {
    fill: white;
}

.ctAppRoot .chartingDashboardWidget .c3 .c3-chart-arcs text {
    fill: white;
}

.ctAppRoot .chartingDashboardWidget .c3 .c3-chart-arc text {
    fill: white;
}

.ctAppRoot .chartingDashboardWidget .tabs__content {
    height: 100%;
}

.ctAppRoot .chartingDashboardWidget .tabs {
    height: 100%;
    display: flex;
    flex-direction: column;
}

.ctAppRoot .chartingDashboardWidget .tabs__bar {
    flex: 0 0 auto;
}

.ctAppRoot .chartingDashboardWidget .tabs__items {
    flex: 1 1 auto;
    height: calc(100% - 48px);
    overflow-y: auto;
}

.ctAppRoot .chartingDashboardWidget .dijitDialogPaneContent {
    overflow: hidden;
}
