.ctAppRoot .chartingDashboardWidget .vue-base {
    height: 100%
}

.ctAppRoot .chartingDashboardWidget .overflowAuto {
    overflow: auto;
}

.ctAppRoot .chartingDashboardWidget .tabs__content {
    height: 100%;
}

.ctAppRoot .chartingDashboardWidget .tabs {
    height: 100%;
    display: flex;
    flex-direction: column;
}

.ctAppRoot .chartingDashboardWidget .tabs__bar {
    flex: 0 0 auto;
}

.ctAppRoot .chartingDashboardWidget .tabs__items {
    flex: 1 1 auto;
    height: calc(100% - 48px);
    overflow-y: auto;
}

.ctAppRoot .chartingDashboardWidget .dijitDialogPaneContent {
    overflow: hidden;
}

.ctAppRoot .chartingDashboardWidget .c3-tooltip th {
    background-color: #aaaaaa;
    padding: 2px 5px !important;
    color: #ffffff;
}

.ctAppRoot .chartingDashboardWidget .c3-tooltip td {
    padding: 3px 6px !important;
    background-color: #ffffff;
}

.ctAppRoot .chartingDashboardWidget .c3-tooltip td > span {
    margin-right: 6px !important;
}

/* colors */
/* everlasting */
.ctAppRoot.everlasting .chartingDashboardWidget .c3-tooltip .name {
    color: #000000;
}

.ctAppRoot.everlasting .chartingDashboardWidget .c3-tooltip .value {
    color: #000000;
}

.ctAppRoot.everlasting .chartingDashboardWidget .c3 .c3-axis-x path, .chartingDashboardWidget .c3 .c3-axis-x line {
    stroke: #ffffff;
}

.ctAppRoot.everlasting .chartingDashboardWidget .c3 .c3-axis-y path, .chartingDashboardWidget .c3 .c3-axis-y line {
    stroke: #ffffff;
}

.ctAppRoot.everlasting .chartingDashboardWidget .c3 .c3-axis-y text, .chartingDashboardWidget .c3 .c3-axis-x text {
    fill: #ffffff;
}

.ctAppRoot.everlasting .chartingDashboardWidget .c3 .c3-legend-item text {
    fill: #ffffff;
}

.ctAppRoot.everlasting .chartingDashboardWidget .c3 .c3-chart-arcs text {
    fill: #ffffff;
}

.ctAppRoot.everlasting .chartingDashboardWidget .c3 .c3-chart-arc text {
    fill: #ffffff;
}
